body {
  background-image: url('../images/camo-background.png'); 
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #6b6b6b;
  background-size: cover;
      padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.light-text {
    color: #fff;
}

.main-body {
    color: #fff;
    font-size: 1.25em;
    padding-left: 50px;
    padding-right: 50px;
}

.main-body-list {
    color: #fff;
    font-size: 1.25em;
    padding-left: 100px;
    padding-right: 50px;
}

.main-body-heading {
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}

.main-body-title {
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: underline;
}

.main-table {
    color: #fff;
    font-size: 1.25em;
    padding-left: 100px;
    padding-right: 50px;
    max-width: 100%;
}

.main-table-cell {
    padding: 10px;
}

/* Harvest Navbar */
.navbar-harvest .navbar-inner {
  	background: #f36c00;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f68a28), color-stop(100%, #f36c00));
	background: -webkit-linear-gradient(top, #f68a28,#f36c00);
	background: -moz-linear-gradient(top, #f68a28,#f36c00);
	background: -o-linear-gradient(top, #f68a28,#f36c00);
	background: -ms-linear-gradient(top, #f68a28,#f36c00);
	background: linear-gradient(top, #f68a28,#f36c00);
}	
.navbar-harvest .navbar-inner .nav {
	float: right;
}	
.navbar-harvest .brand {
	color: #fff;
	text-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navbar-harvest .navbar-inner .nav li a {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-shadow: none;
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: background 0.1s linear,opacity 0.1s linear;
	-moz-transition: background 0.1s linear,opacity 0.1s linear;
	-ms-transition: background 0.1s linear,opacity 0.1s linear;
	-o-transition: background 0.1s linear,opacity 0.1s linear;
	transition: background 0.1s linear,opacity 0.1s linear;
	-webkit-font-smoothing: antialiased;			
	opacity: .9;
	font-weight: 600;
}
.navbar-harvest .navbar-inner .nav li a:hover {
	background: #f67d0f;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
	opacity: 1;
}

/* responsive google scaling */
.google-scaling {
    position: relative;
    padding-bottom: 100%; /* this is the aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%;
}

.google-scaling iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* responsive google maps scaling */
.google-maps {
    position: relative;
    padding-bottom: 63%; /* this is the aspect ratio */
    height: 0;
    overflow: hidden;
    width: 100%;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* dark link */
.dark-link {
    color: inherit;
    text-decoration: none;
}

.dark-link:hover {
    color: inherit;
    text-decoration: none;
}

.signup {
    padding: 15px;
}